<!DOCTYPE html>

<html class="html">

<head>
    <%- include templates/header %>
    <title>Academi-Slug | Sign Up</title>
</head>

<%- include templates/nav-search %>

<body class="body">
    <div class="bg">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">

                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="display-4 mb-0 h2-title">Create Account</h2>
                        </div>
                        <div class="card-body">
                            <form id="profileForm">

                                <h3 class="h3-title">Profile Information</h3>
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" value="<%- user.extra.firstName %>" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" value="<%- user.extra.lastName %>" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <select id="year" name="year" class="form-control" required>
                                            <option value="" selected disabled>Year</option>
                                            <option>Freshman</option>
                                            <option>Sophomore</option>
                                            <option>Junior</option>
                                            <option>Senior</option>
                                            <option>Transfer</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-5">
                                        <select id="major" name="major" class="form-control" required>
                                            <option value="" selected disabled>Major</option>
                                            <% majors.forEach(major=>{ %>
                                            <option>
                                                <%= major %>
                                            </option>
                                            <%   }) %>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <select id="college" name="college" class="form-control" required>
                                            <option value="" selected disabled>College Affiliation</option>
                                            <option>Cowell</option>
                                            <option>Stevenson</option>
                                            <option>Crown</option>
                                            <option>Merrill</option>
                                            <option>College Nine</option>
                                            <option>College Ten</option>
                                            <option>Kresge</option>
                                            <option>Porter</option>
                                            <option>Rachel Carson</option>
                                            <option>Oakes</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <textarea class="form-control" name="bio" rows="5" id="bio" placeholder="Talk about your class experience..." required></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-5">
                                        <input type="text" class="form-control" id="linkedIn" name="linkedIn" placeholder="LinkedIn URL" value="<%- user.extra.linkedin %>">
                                    </div>
                                </div>

                                <div class="form-control classSelect">
                                    <ul class="classlist">
                                        <li class="classinput">
                                            <input placeholder="Search for class" type="text" name="query" autocomplete="off" spellcheck="false">
                                            <span data-helper="e.g CMPS115" class="querylist helper hidden"></span>
                                        </li>
                                    </ul>
                                </div>
                                
                                <button form="profileForm" type="submit" class="btn btn-primary mt-2 float-right">Sign up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/profileCreate.js" defer></script>
</body>

</html>