<!DOCTYPE html>

<html class="html">

<head>
    <%- include ./templates/header %>
    <title>Academi-Slug | Profile</title>
</head>

<%- include ./templates/nav-search %>

<body class="body">
    <div class="bg">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="display-5 mb-0">
                                <%- profile.name.first %>'s Profile</h2>
                                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                                <script type="IN/MemberProfile" data-id= <%- profile.linkedIn %></script> data-format="inline" data-related="false"></script>
                        </div>
                        <dl class="dl-horizontal">
                            <dt class="col-sm-3 mt-4">Name:</dt>
                            <dd class="col-sm-9">
                            <%- profile.name.first %> <%- profile.name.last %>
                            </dd>
                            <hr>

                            <dt class="col-sm-3">Year:</dt>
                            <dd class="col-sm-9">
                                <%- profile.year %>
                            </dd>
                            <hr>

                            <dt class="col-sm-3">Major:</dt>
                            <dd class="col-sm-9">
                                <%- profile.major %>
                            </dd>
                            <hr>

                            <dt class="col-sm-3">College:</dt>
                            <dd class="col-sm-9">
                                <%- profile.college %>
                            </dd>
                            <hr>

                            <dt class="col-sm-3">About:</dt>
                            <dd class="col-sm-9">
                                <%- profile.bio %>
                            </dd>
                            <hr>

                            <dt class="col-sm-6">Courses Taught:</dt>
                            <ul>
                                <p>
                                    <li>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">MATH 113</label>
                                            <div class="col">
                                                <button type="button" class="btn btn-warning">Leave Review</button>
                                            </div>
                                        </div>
                                    </li>
                                </p>
                                <p>
                                    <li>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">CMPS 115</label>
                                            <div class="col-8">
                                                <button type="button" class="btn btn-warning">Leave Review</button>
                                            </div>
                                        </div>
                                    </li>
                                </p>
                                <p>
                                    <li>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">AMS 11</label>
                                            <div class="col-8">
                                                <button type="button" class="btn btn-warning">Leave Review</button>
                                            </div>
                                        </div>
                                    </li>
                                </p>

                        </dl>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>