<!DOCTYPE html>

<html class="html">

<head>
    <%- include templates/header %>
    <title>Academi-Slug | Search Results</title>
</head>

<!-- <script src="nav-buttons.js"></script> -->
<%- include templates/nav-buttons %>

<body class="body">
    <div class="bg">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-md-auto">
                    <div class="card" style="width: 500px;">
                        <div class="card-header">
                            <div class="search-text">
                                <body>
                                    <h2>You searched for: </h2>
                                    <h2 class="h2-title"><%= classSearched.name %></h2>
                                    <h2><%- classSearched.tutors.length %> tutors found.</h2>
                                </body>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-sort">Sort By ↓</button>
                                <div class="dropdown-content">
                                    <a href="#" class="sort-style">Alphabetically</a>
                                    <a href="#" class="sort-style">Ratings</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body col-md-auto">
                            <div class="tutor-table">
                                <table class="table centralize">
                                    <tr class="tr">
                                        <th class="th">Name</th>
                                        <th class="th">Ratings</th>
                                    </tr>
                                    
									<% classSearched.tutors.forEach(tutor =>{ %>
										<tr class="tr">
                                            <td class="td"><a href="/profile/user/<%= tutor.googleID %>" class="search-link"> <%= tutor.name %> </a></td>
                                            <% let rating = tutor.rating; %>
                                            <% let rounded = Math.round(rating); %>
                                            <% let maxRating = 5; %>
                                            
                                            <td class="td">
                                                <% for (star = 0; star <= rounded; star++) { %>
                                                    <span class="fa fa-star checked"></span>
                                                <% } %>
                                                <% for (star = rounded; star < maxRating; star++) { %>
                                                    <span class="fa fa-star"></span>
                                                <% } %>
                                                </td>
											<!-- <td class="td"><%= '*'.repeat(tutor.rating);  %></td> -->
										</tr>	
                                    <% }) %>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>